sem_4/IoT/Lab_11.json
[
    {
        "id": "5579685e.e41aa8",
        "type": "tab",
        "label": "Lab_11",
        "disabled": false,
        "info": "# Flow dla 11 laboratorium z Internetu Rzeczy"
    },
    {
        "id": "d5f19938.c803e8",
        "type": "inject",
        "z": "5579685e.e41aa8",
        "name": "",
        "topic": "",
        "payload": "Hello,",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "6fb79be8.cbe1a4"
            ]
        ]
    },
    {
        "id": "f243d196.24e42",
        "type": "debug",
        "z": "5579685e.e41aa8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "6fb79be8.cbe1a4",
        "type": "function",
        "z": "5579685e.e41aa8",
        "name": "add_world",
        "func": "msg.payload += \"world\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 80,
        "wires": [
            [
                "f243d196.24e42"
            ]
        ]
    },
    {
        "id": "b751cbed.4dcb98",
        "type": "inject",
        "z": "5579685e.e41aa8",
        "name": "",
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "4b2518f.4bda1e8"
            ]
        ]
    },
    {
        "id": "c3400341.fae18",
        "type": "debug",
        "z": "5579685e.e41aa8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "4b2518f.4bda1e8",
        "type": "function",
        "z": "5579685e.e41aa8",
        "name": "print_n_times",
        "func": "var arr = [];\nfor (var i = 0; i < msg.payload; i++) {\n    arr.push({payload: 'Value ' + i})\n}\nreturn [arr];",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 160,
        "wires": [
            [
                "c3400341.fae18"
            ]
        ]
    },
    {
        "id": "9c5d2a57.7a8128",
        "type": "change",
        "z": "5579685e.e41aa8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Hello PWr",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 240,
        "wires": [
            [
                "97ef123c.f4947"
            ]
        ]
    },
    {
        "id": "fa2473f5.0dfe2",
        "type": "inject",
        "z": "5579685e.e41aa8",
        "name": "",
        "topic": "",
        "payload": "Hello world",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "9c5d2a57.7a8128"
            ]
        ]
    },
    {
        "id": "97ef123c.f4947",
        "type": "debug",
        "z": "5579685e.e41aa8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 580,
        "y": 240,
        "wires": []
    },
    {
        "id": "9bbc18ab.1d11e8",
        "type": "switch",
        "z": "5579685e.e41aa8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 380,
        "wires": [
            [
                "e60d28c0.2efac8"
            ],
            [
                "bcfb2d82.d74ae"
            ]
        ]
    },
    {
        "id": "e60d28c0.2efac8",
        "type": "function",
        "z": "5579685e.e41aa8",
        "name": "change_signature",
        "func": "msg.payload = \"Hello, world\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 360,
        "wires": [
            [
                "bcfb2d82.d74ae"
            ]
        ]
    },
    {
        "id": "bcfb2d82.d74ae",
        "type": "debug",
        "z": "5579685e.e41aa8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "3dc2134.0b76aec",
        "type": "inject",
        "z": "5579685e.e41aa8",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 380,
        "wires": [
            [
                "9bbc18ab.1d11e8"
            ]
        ]
    },
    {
        "id": "70de8aed.bedeb4",
        "type": "mqtt in",
        "z": "5579685e.e41aa8",
        "name": "",
        "topic": "auth/userdata",
        "qos": "2",
        "datatype": "utf8",
        "broker": "a41a95b0.761128",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "33006139.f0559e"
            ]
        ]
    },
    {
        "id": "33006139.f0559e",
        "type": "debug",
        "z": "5579685e.e41aa8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 370,
        "y": 580,
        "wires": []
    },
    {
        "id": "356b0f81.96dfc",
        "type": "inject",
        "z": "5579685e.e41aa8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 520,
        "wires": [
            [
                "b906eb35.fc38e8"
            ]
        ]
    },
    {
        "id": "b906eb35.fc38e8",
        "type": "mqtt out",
        "z": "5579685e.e41aa8",
        "name": "",
        "topic": "auth/userdata",
        "qos": "",
        "retain": "",
        "broker": "a41a95b0.761128",
        "x": 380,
        "y": 520,
        "wires": []
    },
    {
        "id": "a41a95b0.761128",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "lenovo320s",
        "port": "8883",
        "tls": "de42af5d.9fea3",
        "clientid": "Client 1",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "de42af5d.9fea3",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "server.crt",
        "keyname": "server.key",
        "caname": "ca.crt",
        "servername": "",
        "verifyservercert": false
    }
]